#### Read from DB

In [1]:
from sqlalchemy import create_engine
import pandas as pd

username = "shaw"
password = "1234"
port = 3306
database = "community"

engine = create_engine('mysql+mysqldb://%s:%s@localhost:%i/%s'
                       %(username, password, port, database))

pd.read_sql_query("show tables", engine)

  Tables_in_community
0             History
1              Person
2        component_sz
3     valid_community

#### Write to DB

In [2]:
from py2neo import Graph

ip = "localhost"
graph = Graph("bolt://%s:7687"%ip, password="123456")

query = """
MATCH (n)
RETURN 
  n.name as name,
  n.component as component,
  n.core as core,
  CASE WHEN n.degree IS NULL THEN 0 else n.degree END AS score
"""

df = graph.run(query).to_data_frame()
df.head()

   component   core      name  score
0          0  False       Roy      0
1          1  False    Philip      3
2          1  False      Joey      2
3          1  False  Isabella      2
4          1  False    Howard      2

In [3]:
df.to_sql('Person', engine, if_exists='replace')